REACT_APP_BACKEND_BASE_URL=https://ecommerce-application-backend-api.onrender.com

REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_51TBN7f5Qa9ELHTs9KAIjj7RDKiEpw06KDUrBdrdRsJ81S0zIMMIdbd6hCtjd7bT0fhOaE19zNLP05drZsY6xLmn100ryeK0OJ4
