# Server
PORT=3001
NODE_ENV=development
SESSION_SECRET=please_change_this_secret
SESSION_COOKIE_NAME=ecommerce_application_session_id_cookie_value
SESSION_COOKIE_MAX_AGE_IN_MILLISECONDS=86400000
SESSION_COOKIE_SAME_SITE=lax
SESSION_COOKIE_SECURE=false

# URLs
# You can provide one URL or many comma-separated URLs.
# Example: http://localhost:3000,https://my-frontend.onrender.com
FRONTEND_APPLICATION_URL=http://localhost:3000
BACKEND_APPLICATION_URL=http://localhost:3001

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ecommerce_application_database

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
# Optional override, if empty code use BACKEND_APPLICATION_URL + /api/auth/google/callback
GOOGLE_OAUTH_CALLBACK_URL=

# Facebook OAuth
FACEBOOK_OAUTH_APP_ID=
FACEBOOK_OAUTH_APP_SECRET=
# Optional override, if empty code use BACKEND_APPLICATION_URL + /api/auth/facebook/callback
FACEBOOK_OAUTH_CALLBACK_URL=

# Stripe Payments
STRIPE_SECRET_KEY=
